.form-group
  = f.label :option1, "Color To Make Transparent", :class => 'control-label col-md-2'
  .col-md-10
    = f.text_field :option1, type: "color", class: "color-to-transparent-option1-input"
    =# text_field_tag "option1", nil, :class => 'text-field form-control minicolors'
